<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="" class="logo"><img src="/img/logo.png" alt="" title=""></a>
                <div class="left-side">
                    <h1><a href="">سایت خبری برنامه نویسان</a></h1>
                    <h2> پایگاه اطلاع رسانی و خبری</h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form action="" method="get" class="border-radius">
                    <input class="border-radius" type="text" placeholder=" جستجو کنید ...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>