<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <section class="access-links">
                    <header> دسترسی سریع </header>
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> قوانین سایت  </a></li>
                        <li><a href=""> راهنمای سایت  </a></li>
                        <li><a href=""> پیوندهای سایت </a></li>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> قوانین سایت  </a></li>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> قوانین سایت  </a></li>
                        <li><a href=""> راهنمای سایت  </a></li>
                    </ul>
                </section>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="socials">
                    <span> شبکه های اجتماعی  سایت</span>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-paper-plane"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <div class="clearfix"></div>
                </div>
                <p>
                    تمامی حقوق مادی و معنوی این طرح متعلق به آموزشگاه برنامه نویسان می باشد و کپی برداری از این طرح غیر اخلاقی می باشد.
                </p>
            </div>
        </div>
    </div>
</footer>